body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* The narrow container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing  */
.mainMessage {
    margin: 40px 0;
    text-align: center;
}

    .mainMessage h1 {
        font-size: 72px;
        line-height: 1;
    }

    .mainMessage .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

/* Supporting marketing content */
.top-row {
    margin: 40px 0;
}

    .top-row p + h4 {
        margin-top: 28px;
    }

.centerAlign {
    text-align: center;
}

.rightAlign {
    text-align: right;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.winningTerm {
    color: #008000;
}
