@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Tweet Fighter</h2>
<p>
    Tweet fighter is an example of using some of the latest web techniques. This project includes things like: 
    <ul>
        <li>Asp.net 4.5</li>
        <li>Asp.net MVC 4</li>
        <li>Microsoft Asp.net SignalR</li>
        <li>Knockout.js</li>
        <li>JQuery</li>
        <li>AutoMapper</li>
        <li>MongoDB</li>
        <li>MongoRepository</li>
        <li>Flot Graphing</li>
        <li>Bootstrap</li>
        <li>Minification/Bundling</li>
        <li>Twitter search api</li>
    </ul>

    One Twitter search API *gotcha*: You are technically rate limited. If you hit too many the javascript will start throwing errors. 

</p>
